body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
  position: relative;
}

.header {
  padding-left: 20px;
}

.header a {
  color: inherit;
}

.gpuTable {
  margin: 25px!important;
}

.selectBox {
  left: 78%;
}

.searchBox {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.input-field input[type=text]:focus + label {
  color: #0277BD;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #0277BD;
  box-shadow: 0 1px 0 0 #0277BD;
}

input[type=number]:focus:not([readonly]) {
  border-bottom: 1px solid #0277BD;
  box-shadow: 0 1px 0 0 #0277BD;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #0277BD!important;
}

.search {
  position: absolute;
  right: 57%;
  top: 1.5em;
}

.gpu-image {
  height: 100px;
  width: 100px;
}

.gpu-image-big {
  height: 220px;
  width: 270px;
}

.pagination li.active {
  background-color: #0277BD
}

.pageCount {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
}

.inputBox > input {
  width: 3.5em!important;
  text-align: center;
  font-size: 1.2rem!important;
}

.btn-sq-xs {
  margin-left: 1em;
}

.fa {
  padding: 5px;
}

.fa:hover {
  color: black!important;
}

#numModal {
  height: 460px;
  width: 310px;
}

.modal-content {
  margin: 13px;
}

.close-button {
  margin-left: 20px;
}

#dialogModel {
  height: 440px;
  width: 310px;
}

.button-spread {
  margin-top: 25px;
}