body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("bg-1.jpeg");
  background-size: cover;
  position: relative;
}

.header {
  padding-left: 20px;
}

.header a {
  color: inherit;
}

.gpuTable {
  margin: 25px!important;
}

.selectBox {
  left: 78%;
}

.searchBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.input-field input[type=text]:focus + label {
  color: #0277BD;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #0277BD;
  box-shadow: 0 1px 0 0 #0277BD;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #0277BD!important;
}

.search {
  position: absolute;
  right: 57%;
  top: 1.5em;
}
